<%- include('layout/header') %>
<%- include('layout/nav') %>
<div class="pageutama" style="width: 100%;">
    <h2> IT Developer Outsourcing</h1>
    
    <p> As a solution provider we help the business to expand their business by helping the IT Team </p>

    <h2> Bridge the Gap </h1>
    <div class="kotak"> <p> We Bridge The Gap Between Business and Technology</p> <p>
        
    </p> </div>
    
    
</div>
<%- include('layout/footer') %>